<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fiche de Paie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <form >
  
    <ion-item lines="full">
      <ion-label >Matricule :</ion-label>
      <ion-input type="text"  [(ngModel)]="fichedepaie.matericule" [ngModelOptions]="{standalone: true}"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Type de Bulletin</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="fichedepaie.cod_typ_bul" [ngModelOptions]="{standalone: true}">
      <ion-select-option value="BN">paie normale</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-item lines="full">
      <ion-label >date de Bulletin :</ion-label><br>
      <ion-input type="text"  [(ngModel)]="fichedepaie.dt_bul" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" (click)="afficher()" expand="block">Afficher</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
