<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-img  [routerLink]="['/soldeassurance']" class="img-fluid" src="../../assets/assurance-sante.png" ></ion-img>

          <ion-card-subtitle>Solde Assurance</ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
      
    
      
      </ion-card>
    </ion-col>
    <ion-col >
      <ion-card>
        <ion-card-header>
          <ion-img  [routerLink]="['/fichedepaye']"  src="../../assets/finance.png" ></ion-img>

          <ion-card-subtitle>Fiche de Paie</ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
      
    
      
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-card>
        <ion-card-header>
          <ion-img  [routerLink]="['/soldedecong']"  class="img-fluid" src="../../assets/administration.png" ></ion-img>

          <ion-card-subtitle>Solde de Conge</ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
      
    
      
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-img [routerLink]="['/certificatdimpot']"  src="../../assets/balance.png" ></ion-img>

          <ion-card-subtitle>Certificat d'Impot</ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
      
    
      
      </ion-card>
    </ion-col>
  </ion-row>



</ion-content>
